@use "../utils/variables" as *;
@use "../utils/mixins" as *;

.card {
    padding: 40px;
    border: 3px solid $color-text;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
    text-align:left;
    @include mq(large) {
        padding:30px;
        gap: 20px;
    }
    @include mq(medium) {
        padding:30px;
        gap: 20px;
    }
    &__feature-item {
        display:flex;
        gap:6px;
        align-items: center;
    }
    &__feature-icon {
        width:20px;
        aspect-ratio: 1/1;
        fill: $color-text;
        &--disabled {
            fill: rgb(174, 3, 3);
        }
        &--enabled {
            fill: rgb(22, 119, 22);
        }
    }
}