@use "../utils/variables";

.cta-button {
    display:inline-block;
    text-decoration: none;
    color:variables.$color-text;
    font-size:24px;
    font-weight: 600;
    padding: 24px 36px;
    border: 2px solid variables.$color-text;
    border-radius: 16px;
    box-shadow: 7px 7px 3px rgba(0,0,0,0.5); 
    &--primary {
        background: variables.$color-brand-primary;
    }
    &--outline {
        background: variables.$color-canvas;
    }
}