@use "../utils/variables";

.footer {
    background: variables.$color-brand-secondary;
    padding:56px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__logo {
        color:variables.$color-canvas;
    }
    &__links-list {
        list-style: none;
        padding:0;
    }
    &__list-item {
        margin-bottom:20px;
        font-weight:500;
        font-size:24px;
        text-align: right;
    }
    &__link {
        text-decoration: none;
        color:variables.$color-canvas;
    }
    &__list-item:last-child {
        margin-bottom:0;
    }


}