@font-face {
    font-family: 'FixelDisplay';
    font-weight: 400;
    src: url("../fonts/FixelAll/FixelDisplay/FixelDisplay-Regular.woff2") format('woff2');
}
@font-face {
    font-family: 'FixelDisplay';
    font-weight: 500;
    src: url("../fonts/FixelAll/FixelDisplay/FixelDisplay-Medium.woff2") format('woff2');
}
@font-face {
    font-family: 'FixelDisplay';
    font-weight: 600;
    src: url("../fonts/FixelAll/FixelDisplay/FixelDisplay-SemiBold.woff2") format('woff2');
}
@font-face {
    font-family: 'FixelDisplay';
    font-weight: 700;
    src: url("../fonts/FixelAll/FixelDisplay/FixelDisplay-Bold.woff2") format('woff2');
}