@use "../utils/variables";
@use "../utils/fonts";

.heading {
    font-size:64px;
    font-weight: 700;
    margin:0;

}
.subheading {
    font-size: 56px;
    font-weight: 500;
    margin:0;
}
.description-text {
    font-size:24px;
    color:variables.$color-text-muted;
    margin:0;
}
.shadow {
    box-shadow: 7px 7px 3px rgba(0,0,0,0.3); 
}