@use "../utils/variables";

.about {
    text-align:center;
    margin:200px 0;
    &__description {
        max-width:550px;
        margin:0 auto; 
    }
    &__cards {
        display: grid; 
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        margin-top:50px;
    }
    &__card {
        aspect-ratio: 1/1;
        &--color1 {
            background: #9bd3d0;
        }
        &--color2 {
            background: #feccb5;
        }
        &--color3 {
            background: #fec447;
        }
    }
    
}
.card {
    &__step-num {
        font-size: 64px;
        color: variables.$color-text-muted;
        font-weight: 700;
        margin:0;
    }
    &__title {
        font-size: 36px;
        font-weight: 500;
        margin:0;
    }
}