@use "../utils/mixins" as *;

.cta {
    display: flex;
    gap: 100px;
    align-items: center;
    margin-top:100px;
    margin-bottom:32px;
    @include mq(large) {
        gap:50px;
    }
    @include mq(medium) {
        gap:50px;
    }
    @include mq(small) {
        align-items: center;
        margin-bottom:100px;
    }
    &__text-content {
        display: flex;
        flex-direction: column;
        gap: 50px;
        align-items: start;
        @include mq(medium) {
            flex:2;
        }
        @include mq(small) {
            align-items:center;
            gap:30px;
        }
    }
    &__header {
        text-align: left;
        @include mq(small) {
            text-align: center;

        }
    }
    &__description {
        @include mq(small) {
            max-width:90%;
            margin:0 auto;
        }
    }
    &__phone-mockup {
        @include mq(small) {
            display: none;
        }
        @include mq(medium) {
            flex:1;
        }
    }
}