@use "../utils/fonts" as *;
@use "../utils/utils" as *;
@use "../utils/variables" as *;
@use "../utils/mixins" as *;

html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    font-family:'FixelDisplay';
    background: $color-canvas;
    box-sizing: border-box;
}
.content {
    padding: 0 80px;
    @include mq(medium) {
       padding: 0 40px;
    }
    @include mq(small) {
        padding: 0 16px;
     }
}