@use "../utils/fonts";
@use "../utils/utils";
@use "../utils/variables";

body {
    margin: 0;
    font-family:'FixelDisplay';
    background: variables.$color-canvas;
    box-sizing: border-box;
}
.content {
    padding: 0 80px;
}