@font-face {
  font-family: "FixelDisplay";
  font-weight: 400;
  src: url("../fonts/FixelAll/FixelDisplay/FixelDisplay-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "FixelDisplay";
  font-weight: 500;
  src: url("../fonts/FixelAll/FixelDisplay/FixelDisplay-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "FixelDisplay";
  font-weight: 600;
  src: url("../fonts/FixelAll/FixelDisplay/FixelDisplay-SemiBold.woff2") format("woff2");
}
@font-face {
  font-family: "FixelDisplay";
  font-weight: 700;
  src: url("../fonts/FixelAll/FixelDisplay/FixelDisplay-Bold.woff2") format("woff2");
}
.logo {
  text-decoration: none;
  color: #341F58;
  font-weight: bold;
  font-size: 48px;
}
@media only screen and (max-width: 1024px) {
  .logo {
    font-size: 36px;
  }
}

.heading {
  font-size: 64px;
  font-weight: 700;
  margin: 0;
}
@media only screen and (max-width: 1024px) {
  .heading {
    font-size: 60px;
  }
}
@media only screen and (max-width: 768px) {
  .heading {
    font-size: 40px;
  }
}

.subheading {
  font-size: 56px;
  font-weight: 500;
  margin: 0;
}
@media only screen and (max-width: 1024px) {
  .subheading {
    font-size: 50px;
  }
}
@media only screen and (max-width: 768px) {
  .subheading {
    font-size: 30px;
  }
}

.description-text {
  font-size: 24px;
  color: #455A6F;
  margin: 0;
}
@media only screen and (max-width: 768px) {
  .description-text {
    font-size: 18px;
  }
}
@media only screen and (max-width: 1024px) {
  .description-text {
    font-size: 20px;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1400px) {
  .description-text {
    font-size: 20px;
  }
}

.shadow {
  box-shadow: 7px 7px 3px rgba(0, 0, 0, 0.3);
}

.header {
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: center;
}

.blur {
  filter: blur(20px);
  pointer-events: none;
  user-select: none;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "FixelDisplay";
  background: #FAF3E1;
  box-sizing: border-box;
}

.content {
  padding: 0 80px;
}
@media only screen and (max-width: 1024px) {
  .content {
    padding: 0 40px;
  }
}
@media only screen and (max-width: 768px) {
  .content {
    padding: 0 16px;
  }
}

.navbar {
  padding: 20px 80px;
  max-height: 100px;
  background: #FAF3E1;
  border-bottom: 1px solid #d9d9d9;
  box-shadow: 0 3px 20px rgba(213, 207, 189, 0.5098039216);
  display: flex;
  position: sticky;
  top: 0;
  z-index: 100;
  justify-content: space-between;
  align-items: baseline;
}
@media only screen and (max-width: 1024px) {
  .navbar {
    padding: 20px 40px;
  }
}
@media only screen and (max-width: 768px) {
  .navbar {
    padding: 10px 16px;
  }
}
.navbar__menu {
  display: none;
  width: 36px;
  height: 36px;
  fill: #341F58;
  cursor: pointer;
}
@media only screen and (max-width: 1024px) {
  .navbar__menu {
    display: block;
  }
}
.navbar__list {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  gap: 30px;
  padding: 0;
  transition: flex-direction 0.3s;
}
@media only screen and (max-width: 1024px) {
  .navbar__list {
    flex-direction: column;
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    align-items: center;
    padding: 20px 0;
    justify-content: center;
    background: #FAF3E1;
  }
}
@media only screen and (max-width: 1024px) {
  .navbar__list.active {
    display: flex;
  }
}
.navbar__list--sidebar {
  display: none;
}
@media only screen and (max-width: 1024px) {
  .navbar__list--sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 0;
    height: 100vh;
    position: fixed;
    top: -16px;
    right: -250px;
    z-index: 100;
    background: #FAF3E1;
    transition: all 800ms ease-in-out;
  }
}
.navbar__item {
  text-decoration: none;
  color: #000;
  font-size: 24px;
  padding: 9px 24px;
  border-radius: 24px;
  transition: all 200ms ease-in-out;
}
.navbar__item:hover, .navbar__item--active {
  background: #341F58;
  color: #FAF3E1;
}

.footer {
  background: #341F58;
  padding: 56px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (max-width: 1024px) {
  .footer {
    padding: 20px 40px;
  }
}
@media only screen and (max-width: 768px) {
  .footer {
    padding: 10px 16px;
  }
}
.footer__logo {
  color: #FAF3E1;
}
.footer__links-list {
  list-style: none;
  padding: 0;
}
.footer__list-item {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 24px;
  text-align: right;
}
.footer__link {
  text-decoration: none;
  color: #FAF3E1;
}
.footer__list-item:last-child {
  margin-bottom: 0;
}

.cta-button {
  display: inline-block;
  text-decoration: none;
  color: #262626;
  font-size: 24px;
  font-weight: 600;
  padding: 24px 36px;
  border: 2px solid #262626;
  border-radius: 16px;
  box-shadow: 7px 7px 3px rgba(0, 0, 0, 0.5);
  text-align: center;
}
.cta-button--primary {
  background: #FEC447;
}
.cta-button--outline {
  background: #FAF3E1;
}
@media only screen and (max-width: 768px) {
  .cta-button {
    padding: 16px 36px;
  }
}

.card {
  padding: 40px;
  border: 3px solid #262626;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
  text-align: left;
}
@media only screen and (min-width: 1024px) and (max-width: 1400px) {
  .card {
    padding: 30px;
    gap: 20px;
  }
}
@media only screen and (max-width: 1024px) {
  .card {
    padding: 30px;
    gap: 20px;
  }
}

.phone-mockup__image {
  width: 100%;
  object-fit: cover;
}

.pop-up {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 360px;
  padding: 30px;
  background: #f5f5f5;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
  border-radius: 12px;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
}
.pop-up.active {
  top: 50%;
  visibility: visible;
  opacity: 1;
  transition: 0.5s;
}
.pop-up__close-btn, .pop-up__close-sign-in-btn {
  position: absolute;
  top: 16px;
  right: 16px;
  cursor: pointer;
}
.pop-up__header {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
}
.pop-up__form-element {
  margin-top: 16px;
}
.pop-up__label {
  font-size: 16px;
  color: #222;
}
.pop-up__input {
  margin-top: 5px;
  display: block;
  width: calc(100% - 20px);
  padding: 10px;
  outline: none;
  border: 1px solid #aaa;
  border-radius: 6px;
}
.pop-up__btn, .pop-up__sign-in-btn {
  margin-top: 16px;
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  transition: all 200ms ease-in-out;
  background: #FEC447;
}
.pop-up__btn:hover, .pop-up__sign-in-btn:hover {
  background: #ffbb29;
}
.pop-up__link {
  display: block;
  text-align: right;
  font-size: 14px;
  text-decoration: none;
  font-weight: 600;
  color: #1a79ca;
}
.pop-up__error-message {
  margin-top: 5px;
  color: rgb(174, 3, 3);
  font-size: 14px;
}
.pop-up__success-message {
  margin-top: 5px;
  color: rgb(22, 119, 22);
  font-size: 14px;
}
.pop-up__icon {
  width: 20px;
  height: 20px;
}
.pop-up__log-out-btn {
  display: flex;
  justify-content: center;
  gap: 6px;
  background: #ececec;
  border: 1px solid #ececec;
  color: rgb(174, 3, 3);
  fill: rgb(174, 3, 3);
  transition: all 200ms ease-in-out;
}
.pop-up__log-out-btn:hover {
  background: #dedede;
  border: 1px solid rgb(174, 3, 3);
}

.sign-in-pop-up.active {
  top: 50%;
  visibility: visible;
  opacity: 1;
  transition: 0.5s;
}

.log-out-pop-up__header--success {
  color: rgb(22, 119, 22);
}
.log-out-pop-up__header--failure {
  color: rgb(174, 3, 3);
}

.hero {
  margin-top: 10px;
}
@media only screen and (max-width: 1024px) {
  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}
.hero__heading {
  margin-bottom: 15px;
  max-width: 50%;
  display: inline-flex;
  margin-top: 100px;
}
@media only screen and (max-width: 1024px) {
  .hero__heading {
    order: 1;
    max-width: fit-content;
    text-align: center;
  }
}
.hero__description {
  max-width: 50%;
  margin-bottom: 60px;
}
@media only screen and (max-width: 1024px) {
  .hero__description {
    order: 2;
    max-width: fit-content;
    text-align: center;
    margin-bottom: 0;
  }
}
.hero__buttons-container {
  display: flex;
  gap: 20px;
}
@media only screen and (max-width: 1024px) {
  .hero__buttons-container {
    order: 4;
  }
}
@media only screen and (max-width: 1024px) {
  .hero__cta-button--primary {
    flex: 4;
  }
  .hero__cta-button--outline {
    display: none;
  }
}
.hero__image-container {
  display: flex;
  float: right;
  position: relative;
}
@media only screen and (max-width: 1024px) {
  .hero__image-container {
    order: 3;
    margin: 0 auto;
    float: left;
  }
}
.hero__image {
  width: 550px;
  object-fit: cover;
  aspect-ratio: 1/1;
  border-radius: 50%;
}
@media only screen and (max-width: 768px) {
  .hero__image {
    width: 250px;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1400px) {
  .hero__image {
    width: 400px;
    margin-top: 60px;
  }
}
.hero__circle-decoration {
  background: #FECCB5;
  border: 3px solid #262626;
  border-radius: 50%;
  width: 120px;
  aspect-ratio: 1/1;
  position: absolute;
  bottom: 0;
  right: 32px;
}
@media only screen and (max-width: 768px) {
  .hero__circle-decoration {
    width: 50px;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1400px) {
  .hero__circle-decoration {
    width: 70px;
  }
}

.about {
  text-align: center;
  margin: 200px 0;
}
.about__description {
  max-width: 550px;
  margin: 0 auto;
}
.about__cards {
  display: flex;
  gap: 20px;
  margin-top: 50px;
}
@media only screen and (max-width: 1024px) {
  .about__cards {
    flex-wrap: wrap;
  }
}
.about__card {
  aspect-ratio: 1/1;
}
@media only screen and (max-width: 1024px) {
  .about__card {
    padding: 35px 30px;
    aspect-ratio: 2/1;
    width: 75%;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 768px) {
  .about__card {
    max-width: 100%;
  }
}
.about__card--color1 {
  background: #9bd3d0;
}
.about__card--color2 {
  background: #feccb5;
}
.about__card--color3 {
  background: #fec447;
}

.card__step-num {
  font-size: 64px;
  color: #455A6F;
  font-weight: 700;
  margin: 0;
}
@media only screen and (max-width: 1024px) {
  .card__step-num {
    font-size: 48px;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1400px) {
  .card__step-num {
    font-size: 56px;
  }
}
.card__title {
  font-size: 36px;
  font-weight: 500;
  margin: 0;
}
@media only screen and (max-width: 1024px) {
  .card__title {
    font-size: 24px;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1400px) {
  .card__title {
    font-size: 24px;
  }
}

.pricing {
  margin: 200px 0;
}
.pricing__subheading {
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
  margin-bottom: 35px;
}
.pricing__cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
@media only screen and (max-width: 1024px) {
  .pricing__cards {
    grid-template-columns: repeat(1, 1fr);
    max-width: 80%;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 768px) {
  .pricing__cards {
    max-width: 100%;
  }
}
.pricing__card {
  padding: 40px;
}
.pricing__card-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.pricing__card--colored {
  background: #FEC447;
}
@media only screen and (max-width: 1024px) {
  .pricing__card--colored {
    order: -1;
  }
}
.pricing__cta-button {
  text-align: center;
}

.card__features-list {
  list-style: none;
  padding: 0;
  margin: 0;
  height: 140px;
  overflow: auto;
  text-overflow: ellipsis;
  line-height: 2;
}
.card__features-list::-webkit-scrollbar {
  display: none;
}
.card__price {
  margin: 0;
  font-size: 18px;
  color: #455A6F;
}
.card__price span {
  font-size: 48px;
  color: #262626;
}

.testimonials {
  margin: 100px 0;
}
.testimonials__row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-bottom: 20px;
}
@media only screen and (max-width: 768px) {
  .testimonials__row {
    grid-template-columns: repeat(1, 1fr);
  }
}
.testimonials__card {
  border: 2px solid #d9d9d9;
  padding: 50px 40px;
  box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.1);
  gap: 30px;
  flex-direction: row;
  align-items: center;
}
@media only screen and (max-width: 1024px) {
  .testimonials__card {
    padding: 30px;
    gap: 20px;
    flex-direction: column;
    text-align: center;
    justify-content: start;
  }
}
@media only screen and (max-width: 768px) {
  .testimonials__card {
    justify-content: center;
    padding-bottom: 60px;
  }
}
.testimonials__image-container {
  display: inline-block;
  position: relative;
}
.testimonials__image {
  width: 100px;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 12px;
  z-index: 0;
}
.testimonials__colored-shadow {
  position: absolute;
  z-index: -1;
  width: 100px;
  aspect-ratio: 1/1;
  top: 8px;
  left: 8px;
  border: 2px solid #262626;
  border-radius: 12px;
}
.testimonials__colored-shadow--color1 {
  background: #FEC447;
}
.testimonials__colored-shadow--color2 {
  background: #9bd3d0;
}
.testimonials__colored-shadow--color3 {
  background: #feccb5;
}
.testimonials__header {
  margin-bottom: 64px;
}
.testimonials__name {
  font-size: 24px;
  font-weight: 500;
  margin: 0;
}
.testimonials__review-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media only screen and (max-width: 1024px) {
  .testimonials__review-container {
    gap: 16px;
  }
}

.cta {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 32px;
}
@media only screen and (max-width: 768px) {
  .cta {
    margin-bottom: 100px;
  }
}
.cta__text-content {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: start;
}
@media only screen and (max-width: 1024px) {
  .cta__text-content {
    flex: 2;
  }
}
@media only screen and (max-width: 768px) {
  .cta__text-content {
    align-items: center;
    gap: 30px;
  }
}
.cta__header {
  text-align: left;
}
@media only screen and (max-width: 768px) {
  .cta__header {
    text-align: center;
  }
}
@media only screen and (max-width: 768px) {
  .cta__description {
    max-width: 90%;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 768px) {
  .cta__phone-mockup {
    display: none;
  }
}
@media only screen and (max-width: 1024px) {
  .cta__phone-mockup {
    flex: 2;
  }
}

.payment-form__inputs-row {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.payment-form {
  top: 50%;
  visibility: visible;
  opacity: 1;
  transition: 0.5s;
}